.bibtex-pdf {
    background-image: url('/img/pdf_icon_16x16.png');
}
.bibtex-bib {
    background-image: url('/img/tex_icon_16x16.png');
}
.bibtex-pdf, .bibtex-bib {
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 20px;
    display: inline-table;
}

.bibtex-keywords {
    display: inline;
}
.bibtex-entry > .bibtex-keywords {
    display: block;
}

.bibtex-entry, .resource-entry {
    display: block;
    margin-bottom: 8px;
}

.btn-group-xs > .btn, .btn-xs {
    line-height: 1.2;
}
