---
layout: page
title: bla
---

<span class="bibtex-entry" id="{{ entry.key }}">
  {{ entry.title }}.
  {{ entry.author }}.
  {% if entry.booktitle %}
    In <i>{{ entry.booktitle }}</i>,
  {% elsif entry.journal %}
    In <i>{{ entry.journal }}</i>,
  {% endif %}
  {% if entry.pages %}
    {{ entry.pages }}.
  {% endif %}
  {% if entry.publisher %}
    {{ entry.publisher }},
  {% endif %}
  {{ entry.year }}.

  {% if entry.url %}
    <a class="bibtex-pdf" href="{{ entry.url }}"></a>
  {% endif %}

  <a class="bibtex-bib" href="#bibtex-source-{{ entry.key }}" data-toggle="collapse"></a>

  {% keywords entry.keywords %}

  <pre id="bibtex-source-{{ entry.key }}" class="collapse">{{ entry.bibtex }}</pre>
</span>

